name: Run Selenium Tests with Allure

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: stage
        type: choice
        options:
          - stage
          - prod

      testType:
        description: "Test execution type"
        required: true
        default: all
        type: choice
        options:
          - all
          - class
          - method
          - multiple

      testValue:
        description: "Class / Method / Multiple classes (comma separated)"
        required: false
        default: ""

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: "17"

    - name: Install Allure CLI
      run: |
        sudo apt-add-repository ppa:qameta/allure -y
        sudo apt-get update
        sudo apt-get install allure -y
        allure --version

    - name: Run Selenium tests
      env:
        ENV: ${{ github.event.inputs.environment }}
        TYPE: ${{ github.event.inputs.testType }}
        VALUE: ${{ github.event.inputs.testValue }}
      run: |
        if [ "$TYPE" = "all" ]; then
          mvn clean test -Dconfig.file=property.$ENV.config

        elif [ "$TYPE" = "class" ]; then
          mvn clean test -Dconfig.file=property.$ENV.config -Dtest=$VALUE

        elif [ "$TYPE" = "method" ]; then
          mvn clean test -Dconfig.file=property.$ENV.config -Dtest=$VALUE

        elif [ "$TYPE" = "multiple" ]; then
          mvn clean test -Dconfig.file=property.$ENV.config -Dtest=$VALUE
        fi

    - name: Generate Allure Report
      if: always()
      run: mvn allure:report

    - name: Upload Allure Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: target/site/allure-maven-plugin
